<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card input mb-3 text-center">
        <%= image_tag @meme.image.url(:medium), class: "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title">Meme for <%= @meme.view_date.strftime("%B %d, %Y") %></h4>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <span class="card-text"><%= render 'form', meme: @meme %></span>
            </div>
          </div class="col-md-2"></div>
        </div>
        <span class="card-text"><%= link_to 'Edit', edit_meme_path(@meme) %> | <%= link_to 'Back', memes_path %></span>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
