<%= simple_form_for(@sprint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :start_date, as: :date, :order => [:month, :day, :year] %>
    <%= f.input :end_date, as: :date, :order => [:month, :day, :year] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
