<div class="container-fluid">
  <div class="rally">
  <% if @iterations.any? %>
    <h2>Iterations from Rally</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Object ID</th>
          <th>Name</th>
          <th>Project</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>State</th>
          <th>Theme</th>
          <th>Planned Velocity</th>
          <th>Plan Estimate</th>
        </tr>
      </thead>
      <tbody>
        <% @iterations.each do |i| %>
        <tr>
          <td><%= i.object_id %></td>
          <td><%= i.name %></td>
          <td><%= i.project %></td>
          <td><%= i.start_date.strftime('%m-%d-%Y') %></td>
          <td><%= i.end_date.strftime('%m-%d-%Y') %></td>
          <td><%= i.state %></td>
          <td><%= i.theme %></td>
          <td><%= i.planned_velocity %></td>
          <td><%= i.plan_estimate %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
