<div class="container rally">
  <h2>Burndown Chart</h2>
  <h4>
    For
      <%= @title.name %>, <%= @title.start_date.strftime("%b %d") %> - <%= @title.end_date.strftime("%b %d") %>
  </h4>
</div>

<div class="container rally">
<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>

<script>
  Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Aggregated Burndown Chart'
    },
    xAxis: {
        categories: [
          <% @dates.each do |date| %>
          "<%= date.date.strftime("%m-%d") %>",
          <% end %>
        ]
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total ToDo Hours Left'
        },
        stackLabels: {
            enabled: true,
            style: {
                fontWeight: 'bold',
                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            }
        }
    },
    legend: {
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
    },
    tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
            }
        }
    },
    series: [{
        type: 'column',
        name: 'CA Analytics',
        data: [
          <% @analytics.each do |analytics| %>
          <%= analytics.hours %>,
          <% end %>
        ]
    }, {
        type: 'column',
        name: 'onTrack',
        data: [
          <% @ontrack.each do |ontrack| %>
          <%= ontrack.hours %>,
          <% end %>
        ]
    }, {
        type: 'column',
        name: 'TCC',
        data: [
          <% @tcc.each do |tcc| %>
          <%= tcc.hours %>,
          <% end %>
        ]
    }, {
        type: 'column',
        name: 'CA Web App (Rooster)',
        data: [
          <% @webapp.each do |webapp| %>
          <%= webapp.hours %>,
          <% end %>
        ]
    }, {
        type: 'line',
        name: 'Optimal',
        data: [135, 120, 105, 90, 75, 60, 45, 30, 15, 0]
    }]
  });
</script>

</div>
