<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Devdash</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  </head>

  <body class="">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse ">
      <%= render "layouts/navbar" %>
    </div>
    <!-- END HEADER -->

    <!-- BEGIN CONTENT -->
    <div class="page-container row-fluid">
      <%= render "layouts/sidebar" %>
      <%= yield %>
    </div>
    <!-- END CONTENT -->
  </body>
</html>
